footer, main, nav, header {
  background-color: white;
  margin: 15px 25px;
  padding: 12px 17px;
  border-radius: 7px;
  border-bottom: 5px solid lightskyblue;
  border-right: 3px solid lightskyblue;
}

main #categories-form #id_title, main #categories-form #id_description, main #create-listing-grid #id_description, main #create-listing-grid #id_start_price, main #create-listing-grid #id_category, main #create-listing-grid #id_title, main #listing-grid #listing-side #listing-bids #id_amount, main #listing-grid #listing-main #listing-comment-section #listing-comment-form #id_content {
  border: 2px solid lightskyblue;
  border-radius: 7px;
  padding: 3px 8px;
}

main #listing-grid #listing-side #listing-bids, main #listing-grid #listing-side #listing-details, main #listing-grid #listing-main #listing-comment-section #listing-comments .comment, main #listing-grid #listing-main #listing-comment-section, main #listing-grid #listing-main #listing-main-content {
  width: 100%;
  border: 3px solid #ffeac3;
  border-radius: 7px;
  margin-bottom: 50px;
  padding: 30px 20px;
  text-align: left;
}

main #watchlist-wrapper .listing-thumbnail, main #flex-container .listing-thumbnail-grid {
  margin: 15px 20px;
  border: 3px solid lightskyblue;
  border-radius: 7px;
  box-shadow: 0 0 7px 4px lightgray;
  width: 600px;
  height: 450px;
  min-width: 600px;
  background-color: white;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 70% 15% 15%;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-image, main #flex-container .listing-thumbnail-grid .listing-thumbnail-image {
  grid-area: 1/1/2/4;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-image img, main #flex-container .listing-thumbnail-grid .listing-thumbnail-image img {
  border-radius: 7px;
  max-height: 300px;
  margin: 7px 0;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-name, main #flex-container .listing-thumbnail-grid .listing-thumbnail-name {
  font-size: 24px;
  background-color: lightskyblue;
  border-radius: 7px;
  margin: 5px 10px;
  padding-top: 7px;
  grid-area: 2/1/3/4;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-name a, main #flex-container .listing-thumbnail-grid .listing-thumbnail-name a {
  color: white;
  text-decoration: none;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-price, main #flex-container .listing-thumbnail-grid .listing-thumbnail-price {
  padding-top: 12px;
  margin: 7px 0;
  color: white;
  font-size: 22px;
  background-color: lightskyblue;
  vertical-align: middle;
  border-radius: 7px;
  grid-area: 3/2/4/3;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-date, main #flex-container .listing-thumbnail-grid .listing-thumbnail-date, main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-owner, main #flex-container .listing-thumbnail-grid .listing-thumbnail-owner {
  margin: 12px -7px 12px 10px;
  border: 4px solid lightskyblue;
  color: lightskyblue;
  border-radius: 7px;
  padding-top: 10px;
  font-size: 12px;
  grid-area: 3/1/4/2;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-owner, main #flex-container .listing-thumbnail-grid .listing-thumbnail-owner {
  margin: 12px 10px 12px -7px;
  grid-area: 3/3/4/4;
}
main #watchlist-wrapper .listing-thumbnail .listing-thumbnail-remove, main #flex-container .listing-thumbnail-grid .listing-thumbnail-remove {
  background-color: mediumvioletred;
  padding: 4px 12px;
  border-radius: 7px;
  grid-area: 4/2/5/3;
}

body {
  padding: 10px;
  background-color: whitesmoke;
  text-align: center;
}

header a #logo {
  display: inline;
  max-width: 128px;
  margin-right: 30px;
}
header a #title {
  display: inline;
  vertical-align: middle;
  font-size: 62px;
  color: lightskyblue;
}
header a:hover {
  text-decoration: none;
}

nav #nav-user {
  font-size: larger;
  margin-bottom: 12px;
}
nav a {
  display: inline;
  color: lightskyblue;
  font-size: 24px;
  font-weight: 700;
  margin-right: 15px;
  padding: 3px 7px;
  border: 5px solid #ffeac3;
  border-radius: 7px;
}
nav a:hover {
  text-decoration: none;
  color: lightskyblue;
  border-top: none;
}

main #main-title {
  font-size: 48px;
  color: lightskyblue;
}
main #main-secondary-title {
  margin: 20px 0;
  font-size: 26px;
  color: lightskyblue;
}
main #form-submit-button {
  border: none;
  border-radius: 7px;
  background-color: lightskyblue;
  color: white;
  font-size: 20px;
  padding: 5px 12px;
  margin: 18px 16px;
}
main #form-submit-button:hover {
  background-color: #ffeac3;
  color: lightskyblue;
}
main #flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #watchlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
main #listing-grid {
  display: grid;
  grid-template-columns: 70% 350px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 5%;
  grid-row-gap: 80px;
  padding: 20px;
  margin: 25px 5%;
}
main #listing-grid #listing-main {
  grid-area: 1/1/3/2;
}
main #listing-grid #listing-main #listing-main-content {
  text-align: center;
}
main #listing-grid #listing-main #listing-main-content #listing-main-title {
  font-size: 38px;
  color: lightskyblue;
}
main #listing-grid #listing-main #listing-main-content #listing-main-image {
  max-height: 550px;
  border-radius: 7px;
  border: 3px solid lightskyblue;
}
main #listing-grid #listing-main #listing-comment-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
main #listing-grid #listing-main #listing-comment-section #listing-comment-form {
  width: 35%;
}
main #listing-grid #listing-main #listing-comment-section #listing-comment-form #id_content {
  width: 100%;
  height: 120px;
  margin-bottom: 0;
}
main #listing-grid #listing-main #listing-comment-section #listing-comment-form #form-submit-button {
  margin: 0;
}
main #listing-grid #listing-main #listing-comment-section #listing-comments {
  width: 60%;
  margin: 0 35px;
}
main #listing-grid #listing-side {
  grid-area: 1/2/2/3;
}
main #listing-grid #listing-side #listing-details {
  grid-area: 1/2/2/3;
}
main #listing-grid #listing-side #listing-bids {
  grid-area: 2/2/3/3;
}
main #listing-grid #listing-side #listing-bids #form-submit-button {
  margin: 10px 0;
}
main #create-listing-grid {
  display: grid;
  margin: 25px 20px;
  padding: 20px;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40px 40px 40px 30px;
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: lightskyblue;
}
main #create-listing-grid #id_title {
  grid-area: 1/1/2/2;
}
main #create-listing-grid #id_category {
  grid-area: 2/1/3/2;
}
main #create-listing-grid #id_start_price {
  grid-area: 3/1/4/2;
}
main #create-listing-grid #id_description {
  grid-area: 1/2/3/3;
}
main #create-listing-grid #id_image {
  grid-area: 3/2/4/3;
}
main #create-listing-grid #form-submit-button {
  width: 200px;
  height: 42px;
  margin-left: 0;
}
main #categories-container {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 20px;
}
main #categories-container .category-item {
  font-size: 24px;
  background-color: lightskyblue;
  border-radius: 7px;
  margin: 7px 18px;
  padding: 4px 12px;
}
main #categories-container .category-item a {
  color: white;
  text-decoration: none;
}
main #categories-container .category-item:hover {
  background-color: #ffeac3;
}
main #categories-container .category-item:hover a {
  color: lightskyblue;
}
main #categories-form #id_title, main #categories-form #id_description {
  width: 15%;
  min-width: 150px;
  line-height: 30px;
}
main #categories-form #id_description {
  width: 65%;
  margin: 0 15px;
}
main #category-wrapper #category-title, main #category-wrapper #category-description {
  display: inline;
  color: lightskyblue;
  font-size: 28px;
  background-color: #ffeac3;
  border-radius: 7px;
  border: 3px solid lightskyblue;
  border-top: none;
  border-right: none;
  padding: 6px 14px;
  margin: 8px 22px;
  width: 300px;
}
main #category-wrapper #category-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 20px;
}
main #category-wrapper #category-flex-container .category-item {
  background-color: lightskyblue;
  color: white;
  font-size: 20px;
  padding: 4px 8px;
  margin: 6px 12px;
  border-radius: 7px;
  text-decoration: none;
}

footer {
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
