{% extends 'auctions/layout.html' %}

{% block title %}Category - {{ category.title }}{% endblock %}

{% block body %}
    <div id="category-wrapper">
        <h2 id="category-title">{{ category.title }}</h2>
        <p id="category-description">{{ category.description }}</p>
        <div id="category-flex-container">
            {% for listing in listings %}
                <a class="category-item" href="{% url 'auctions:listing' listing.id %}">{{ listing.title }}</a>
            {% empty %}
                No listings available for this category.
            {% endfor %}
        </div>
    </div>
{% endblock %}
