{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="main-title">Active Listings</h2>
    <!-- To be a flexbox -->
    <div id="flex-container">
    {% for listing in listings %}
        <!-- To be a thumbnail type -->
        <div class="listing-thumbnail">
            <a href="{% url 'auctions:listing' listing.id %}">
            <div>
            {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.image.url }}">
            {% else %}
                <img src="{% static 'admin/img/image_not_available.png' %}" alt="Image not available.">
            {% endif %}
            </div>
            <div class="thumbnail-name">
                {{ listing.title }}
            </div>
            </a><br>
            <b>Price: {{ listing.current_price }}</b><br>
            <p>
                {{ listing.description }}
            </p>
        </div>
    {% empty %}
    <div>
        <li>Empty : (</li>
    </div>
    {% endfor %}
    </div>
{% endblock %}
