{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
        <!-- To be a thumbnail type -->
        <div class="#"> 
            <li style="margin-bottom: 15px;">
                <a href="{% url 'auctions:listing' listing.id %}">
                    {{ listing.title }}
                </a><br>
                <b>Price: {{ listing.current_price }}</b><br>
                {{ listing.description }}
                {% if listing.image %}
                <div>
                    <img src="{{ listing.image.url }}" style="max-width: 600px;" alt="{{ listing.image.url }}">
                </div>
                {% endif %}
            </li>
        </div>
        {% empty %}
        <div>
            <li>Empty : (</li>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
