{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="main-title">Active Listings</h2>
    <!-- To be a flexbox -->
    <div id="flex-container">
    {% for listing in listings %}
        <!-- To be a thumbnail type -->
        <div class="listing-thumbnail">
            <div>
                <img src="{{ listing.image.url }}" alt="{{ listing.image.url }}">
            </div>
            <a href="{% url 'auctions:listing' listing.id %}">
                {{ listing.title }}
            </a><br>
            <b>Price: {{ listing.current_price }}</b><br>
            {{ listing.description }}
            {% if listing.image %}
            {% endif %}
        </div>
    {% empty %}
    <div>
        <li>Empty : (</li>
    </div>
    {% endfor %}
    </div>
{% endblock %}
