{% extends 'auctions/layout.html' %}

{% block body %}
{% if listing.active == False %}
    <h3>Listing is closed. TODO</h3>
{% endif %}

<h1>{{ listing.title }}</h1>
<h3>Created by: {{ listing.owner }}</h3>
<h5>{{ listing.date }}</h5>

<!-- main content -->
<div>
    <div>Initial price: {{ listing.price }}</div>
    {% if listing.image %}
    <div id="img-listing">
        <!-- Problem with the image file for listings -->
            <img src="{{ listing.image.url }}" style="max-width: 600px;" alt="Listing Image">
            <div id="img-caption">
            Image caption
            </div>
    </div>
    {% endif %}
    <!-- <p>
        {{ listing.description }}
    </p> -->
</div>

<!-- Add to watchlist -->
<div id="watchlist-listing">
    <a href="{% url 'auctions:add_to_watchlist' listing.id %}">Add to watchlist</a>
</div>

<!-- Bids -->
<div>
    <h2>Current bid: {{ listing.current_price }}</h2>
    <h4>Initial price: {{ listing.start_price }}</h4>
    <h2>Bids: </h2>
    {% if bids %}
        <span>{{ total_bids }} bid(s) so far.</span>
        {% for bid in bids %}
            <li>By: {{ bid.bidder }}, price: {{ bid.amount }}</li>
        {% endfor %}
    {% else %}
        <li>No available bids.</li>
    {% endif %}
</div>

{% if listing.owner == user %}
    <a href="{% url 'auctions:close_auction' listing.id %}">Close Auction</a>
{% elif user.is_authenticated %}
    <!-- Bid -->
    <div>
        <h3>{{ bid_form.non_field_errors }}</h3>
        <form action="{% url 'auctions:bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit" value="Place bid">
        </form>
    </div>
{% endif %}
    <!-- Comments -->
    {% if user.is_authenticated %}
<div>
    <!-- TO be a form -->
    <a href="#">Add comment</a>
</div>

<h3>Details:</h3>
<ul>
    <li>Listed by: {{ listing.owner }}</li>
    <li>Created: {{ listing.date }}</li>
    {% if listing.category %}
    <li>Category: 
        <a href="{% url 'auctions:category' listing.category.id %}">{{ listing.category }}</a>
    </li>
    {% else %}
    <li>Category: No category!</li>
    {% endif %}
    <li>Description:</li>
    <p>{{ listing.description }}</p>
</ul>
{% endif %}

{% endblock %}
