{% extends 'auctions/layout.html' %}

{% block body %}
<h1>{{ listing.title }}</h1>
<h3>Created by: {{ listing.owner }}</h3>
<h5>{{ listing.date }}</h5>

<!-- main content -->
<div>
    <div>Price: {{ listing.price }}</div>
    {% if listing.image %}
    <div>
        <!-- Problem with the image file for listings -->
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="Listing Image">
            Listing caption
        {% endif %}
    </div>
    {% endif %}
    <p>
        {{ listing.description }}
    </p>
</div>

{% if listing.owner == user %}
    <a href="#">Close Auction</a>
<!-- Bids -->
{% elif user.is_authenticated %}
<div>
    <!-- To be a form -->
    <a href="#">Bid</a>
</div>
{% endif %}

<!-- Comments -->
<div>
    <a href="#">Add comment</a>
</div>

{% endblock %}
